{
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "semi": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^(?:[./@]*controllers)(/.*|$)",
    "^(?:[./@]*services)(/.*|$)",
    "^(?:[./@]*repositories)(/.*|$)",
    "^(?:[./@]*models)(/.*|$)",
    "^(?:[./@]*helpers)(/.*|$)",
    "^(?:[./@]*utils)(/.*|$)",
    "^(?:[./@]*config)(/.*|$)",
    "^(?:[./@]*middleware)(/.*|$)",
    "^(?:[./@]*routes)(/.*|$)",
    "^(?:[./@]*localization)(/.*|$)",
    "^(?:[./@]*types)(/.*|$)",
    "^(?:[./@]*)(/.*|$)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true
}
