main#form-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main#form-page form {
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

main#form-page h1 {
  margin: 0;
  padding: 0;
  font-size: 34px;
  line-height: 44px;
  font-family: var(--logo-font-family);
  user-select: none;
  font-weight: normal;
  text-align: center;
  padding: 40px 0px 10px 0px;
  box-sizing: border-box;
}

main#form-page div.form-row {
  display: flex;
  column-gap: 10px;
  flex-direction: row;
}

main#form-page div.form-row input {
  width: calc((100% - 10px) / 2) !important;
}

main#form-page input {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  background-color: var(--container-background);
  border: solid 1px var(--container-border);
  border-radius: 5px;
  padding: 10px 15px;
  box-sizing: border-box;
  color: var(--dark-color);
}

main#form-page button[type="submit"] {
  border: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 5px;
}

main#form-page div.form-row.link {
  display: unset !important;
  text-align: center;
}

main#form-page div.form-row.link a {
  color: var(--primary-color);
}

@media only screen and (max-width: 440px) {
  main#form-page {
    min-width: 332px;
    padding: 0px 20px;
    box-sizing: border-box;
    overflow-x: auto;
  }

  main#form-page div.form-row {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  main#form-page div.form-row input {
    width: unset !important;
  }
}
