@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Odor+Mean+Chey&display=swap");

:root {
  --primary-color: #3d5a80;
  --secondary-color: #98c1d9;
  --highlight-color: #ee6c4d;

  --positive-transaction: #066839;
  --negative-transaction: #8f0000;

  --light-color: #fefefe;
  --dark-color: #101319;

  --success-background-color: #c4eebd;
  --success-border-color: #2b8320;
  --success-text-color: #0b2108;

  --info-background-color: #c4eebd;
  --info-border-color: #2b8320;
  --info-text-color: #0b2108;

  --warning-background-color: #c4eebd;
  --warning-border-color: #2b8320;
  --warning-text-color: #0b2108;

  --error-background-color: #ffdada;
  --error-border-color: #a30000;
  --error-text-color: #290000;

  --header-container-bg: #324866;
  --overview-container-bg: #ececec;

  --overview-section-title-color: #7e8083;

  --transparent-dark-color: rgb(16, 19, 25, 0.25);
  --transparent-light-color: rgb(255, 255, 255, 0.5);

  --secondary-text-color: rgb(16, 19, 25, 0.5);

  --container-background: #f9f9f9;
  --container-border: #cccccc;

  --logo-font-family: "Odor Mean Chey";
  --font-family: "Inter";

  --font-size: 16px;
  --line-height: 24px;

  --smaller-font-size: 12px;
  --smaller-line-height: 20px;

  --letter-spacing: 0.15px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--light-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--dark-color);
}

a {
  text-decoration: none;
}

h2#greeting {
  padding: 40px 0px 20px 0px;
  margin: 0 auto;
  width: 996px;
  font-weight: 600;
}

section#overview {
  width: 996px;
  height: 314px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}

section#overview section#balance,
section#overview section#income,
section#overview section#expense {
  background-color: var(--overview-container-bg);
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

section#overview section#balance span,
section#overview section#income span,
section#overview section#expense span {
  color: var(--overview-section-title-color);
  font-weight: 600;
  font-size: 20px;
}

section#overview section#balance span:last-child {
  color: var(--dark-color);
}

section#overview section#income span:last-child {
  color: var(--positive-transaction);
}

section#overview section#expense span:last-child {
  color: var(--negative-transaction);
}

section#overview section#graph {
  background-color: var(--overview-container-bg);
  border-radius: 10px;
  width: 686px;
  height: 314px;
  padding: 20px;
  box-sizing: border-box;
}

.alert.success {
  background-color: var(--success-background-color);
  border-left: solid 5px var(--success-border-color);
  color: var(--success-text-color);
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.alert.info {
  background-color: var(--info-background-color);
  border-left: solid 5px var(--info-border-color);
  color: var(--info-text-color);
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.alert.warning {
  background-color: var(--warning-background-color);
  border-left: solid 5px var(--warning-border-color);
  color: var(--warning-text-color);
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.alert.error {
  background-color: var(--error-background-color);
  border-left: solid 5px var(--error-border-color);
  color: var(--error-text-color);
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
